/* ==========================================================================
Generic
========================================================================== */

html {
	font-family: 'Source Sans Pro', sans-serif;
    background-color: #fff;
    color: #000;
    letter-spacing: 2px;
}

body {
    padding-bottom: 48px;
}


.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 30px;
    padding-right: 30px;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.margin-top {
	margin-top: 24px;
}




/* ==========================================================================
Account Summary
========================================================================== */

.account-holder h1 {
	margin: 0;
}

.account-holder .label {
	margin-left: 28px;
	margin-right: 48px;
	margin-top: 0;
	margin-bottom: 0;
	float: left;
}

.account-holder {
	border-radius: 5px;
	border: 1px #000 solid;
	padding-bottom: 48px;
}

.title {
	height: 60px;
	background-color: #7da7d9;
	color: #fff;
}

.btn-container {
	margin-right: 28px;
	margin-top: 28px;
}

.btn {
	color: #fff;
    font-size: 1.2em;
    cursor: pointer;
    font-weight: 300;
    text-align: center;
    background-image: none;
    background-color: #7da7d9;
    padding: 6px 24px;
    border-radius: 5px;
    text-decoration: none;
}